.header-class {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-container > * {
    margin: 0 30px;
  }

  .input-control {
    margin-left: 10px;
    margin-right: 10px;
  }

  .input-button {
    margin: 0 30px;
  }

  .error-message {
    display: flex;
    justify-content: center;
    color: red;
  }