<h1 mat-dialog-title class="header-class">New Team</h1>
<div mat-dialog-content>

  <form [formGroup]="newTeamForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
        <mat-form-field >
            <mat-label>Team Name</mat-label>
            <input matInput id="name" formControlName="name">
            <mat-error *ngIf="f['name'].invalid">Team name is required, 30 characters max.</mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Team Manager</mat-label>
            <input matInput id="manager" formControlName="manager">
            <mat-error *ngIf="f['manager'].invalid">Manager name is required, 30 characters max</mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Manager Email</mat-label>
            <input matInput id="email" formControlName="email">
            <mat-error *ngIf="f['email'].invalid">Email is invalid, 30 characters max</mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Third Party ID (optional)</mat-label>
            <input matInput id="thirdpartyid" formControlName="thirdpartyid">
        </mat-form-field>
        <mat-form-field >
            <mat-label>Nickname (optional)</mat-label>
            <input matInput id="nickname" formControlName="nickname">
        </mat-form-field>
    </div>
    <div class="input-button">
      <button mat-button type="submit">Submit</button>
    </div>
  </form>


</div>
<div mat-dialog-actions class="input-button">
  <button mat-button (click)="closeModal()">Cancel</button>
</div>

  