.team-card {
    margin-bottom: 10px;
    background-color:lightblue;
  }

  .header {
    margin-bottom: 10px;
  }

.content-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between
  }

.content-item {
    flex-basis: 50px;
  }
  