<div *ngIf="player">
    <mat-card class="player-card">
        <mat-card-header>
            <mat-card-title>{{ player.rank}} {{ player.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <div class="content-parent">
                <div class="content-item">Pos: {{ player.position}}</div>
                <div class="content-item">Team: {{ player.nflTeam}}</div>  
                <div class="content-item">Bye: {{ player.byeWeek}}</div>
            </div>
            <div class="content-parent-FFBTeam">
                <div class="content-item" *ngIf="(isAdmin$ | async) && !isEditing">
                    <button mat-icon-button (click)="editFFBTeam(player)" >
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="content-item-FFBTeam" *ngIf="!isEditing">FFB Team: {{ player.ffbTeamName}}</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>