.player-card {
    margin-bottom: 0px;
    background-color:lightblue;
  }

  .content-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .content-parent-FFBTeam {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
  }

  .content-item {
    flex-basis: auto;
  }

  .content-item-FFBTeam {
    display: flex;
    justify-content: center;
  }

mat-expansion-panel {
    margin: 0px 0px;  
    box-shadow: none;
    padding: 0px;
}

.mat-expansion-panel-header {
    min-height: 48px;
    height: 48px;
    padding: 0 8px !important;
}

.mat-expansion-panel-body {
    padding: 4px 16px !important;
}