<div *ngIf="player">
    <mat-accordion >
      <mat-expansion-panel class="player-card">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ player.rank}} {{ player.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{ player.position}} - {{ player.nflTeam }} (Bye: {{ player.byeWeek }})
          </mat-panel-description>
        </mat-expansion-panel-header>
            <div class="content-parent-FFBTeam">
                <div class="content-item" *ngIf="(isAdmin$ | async) && !isEditing">
                    <button mat-icon-button (click)="editFFBTeam(player)" >
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="content-item-FFBTeam" *ngIf="!isEditing">FFB Manager: {{ player.ffbTeamManager}}</div>
            </div>
      </mat-expansion-panel>
    </mat-accordion>    
</div>