.draft-card {
    margin-bottom: 2px;
    background-color: lightblue;
  }

  .header {
    margin-bottom: 2px;
    width: 100%;
  }

.content-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
  }

.content-item {
    width: 100%;
  }
  
mat-card-title {
  font-family: 'Arial', sans-serif;
  font-size: 16px; /* Example font size */
  font-weight: bold; /* Example font weight */
  width: 100% !important;
  max-width: none !important;
}

mat-card-subtitle {
  font-family: 'Verdana', sans-serif;
  font-size: 12px; /* Example font size */
  font-weight: bold;
}