<div *ngIf="draftPick">
    <mat-card class="draft-card" [class.selected-draftPick]="isSelected" (click)="onCardClick()" style="cursor: pointer;">
        <mat-card-header class="header">
            <mat-card-title>
                <div class="content-parent">
                    <span>{{ draftPick.DraftOrder }}</span>
                    <span>{{ draftPick.TeamName }}</span>
                    <mat-card-subtitle><em>{{ draftPick.TeamManager }}</em></mat-card-subtitle>
                </div>
            </mat-card-title>        
        </mat-card-header>
        <mat-card-content class="content-parent-playername">
            <div class="content-item-playername" *ngIf="draftPick.PlayerName.length > 0" >
                <button mat-icon-button >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div class="content-item-playername">{{ draftPick.PlayerName}}</div>  
        </mat-card-content>
    </mat-card>
</div>