<div class="draft-container">
    <div class="players-draft" *ngIf="filteredPlayerData.length > 0; else noFilteredData">
      <h2>Players</h2>
      <div class="draft-filters">
        <mat-checkbox class="filter-position-checkbox" #QBCheckbox 
          [(ngModel)] = "showAvailableOnly" 
          (change)="availableFilterChanged($event)" 
          color="primary">Show only available
        </mat-checkbox>
        <mat-label class="find-player-box" >Find a player: </mat-label>
        <input type="text" 
            [(ngModel)]="playerToFind"
            (ngModelChange)="onPlayerSearch($event)"
            placeholder="Find..." />
      </div>
      <div class="players-scroll-draft">
          <app-player-card *ngFor="let item of filteredPlayerData" class="list-item-draft" [player]="item" 
            [isSelected]="selectedPlayer === item" (cardClicked)="onPlayerCardClicked($event)">
          </app-player-card>
      </div>
    </div> 
  <ng-template #noFilteredData>
      <ng-template>
          <div *ngIf="playerData.length > 0; else noData" class="info-container-draft">
              <mat-icon class="info-icon-draft">block</mat-icon>
              <span class="info-message-draft">No players!</span>
          </div>
          <ng-template  #noData>
              <div >
                  <span class="error-icon-draft"><fa-icon class="error-icon-draft" [icon]="faExclamationTriangle"></fa-icon></span>
                  <span class="error-message-draft">Error!</span>
                  <span class="error-message-draft">{{ errorMsg }}</span>
              </div>
          </ng-template>   
      </ng-template>
  </ng-template>

  <div class="draft-button-container">
    <button class="draft-button" 
            [disabled]="!selectedPlayer || !selectedDraftPick || isSaving"
            (click)="onDraftPlayer()">
      Draft Player
    </button>
  </div>

  <div class="draft-table-container">
    <div class="round-selector">
      <label for="roundSelect">Round:</label>
      <select id="roundSelect" [(ngModel)]="draftRound" (change)="onRoundChange()">
        <option *ngFor="let round of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]" [ngValue]="round">
          {{ round }}
        </option>
      </select>
      <button class="btn-edit-order" *ngIf="!isEditingOrder && draftPicksCollection && draftPicksCollection.length > 0" (click)="startEditingOrder()">
        ✎ Edit Order
      </button>
    </div>

    <app-draft-order-editor 
      *ngIf="isEditingOrder && draftPicksCollection && draftPicksCollection.length > 0"
      [draftPicks]="draftPicksCollection"
      (saveOrder)="onSaveOrder($event)"
      (cancelEdit)="onCancelEdit()">
    </app-draft-order-editor>

    <div class="draft-cards-container">
      <div class="draft-cards" *ngIf="!isEditingOrder && draftPicksCollection && draftPicksCollection.length > 0">
        <app-draft-card *ngFor="let pick of draftPicksCollection | filterByRound: draftRound" [draftPick]="pick" 
            [isSelected]="selectedDraftPick === pick"
            (cardClicked)="onDraftCardClicked($event)">
        </app-draft-card>
      </div>
    </div>
  </div>
</div>
