<mat-toolbar color="primary">
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="hide-on-desktop">
        <mat-icon>menu</mat-icon>
      </button>
      <span>FFB Draft</span>
      <span class="spacer"></span>
  
      <div class="hide-on-mobile">
        <button mat-button [routerLink]="['/app-home']">
          <mat-icon>home</mat-icon>
          Home
          </button>
        <ng-container *ngIf="isAdmin$ | async">
          <button mat-button [routerLink]="['/teams']">Teams</button>
        </ng-container>
        <button mat-button [routerLink]="['/app-about']">About</button>  
      </div>
  
  
      <div *ngIf="isAuthenticated$ | async; else unAuthenticated">
        <app-logout-button></app-logout-button>
      </div>
      <ng-template #unAuthenticated>
        <app-login-button></app-login-button>
      </ng-template>
  
      <ng-container *ngIf="user$ | async as user">
        <img [src]="user.picture" class="user-picture"/>
      </ng-container>
  
    </mat-toolbar>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/app-home']">Home</button>
      <ng-container *ngIf="isAdmin$ | async">
        <button mat-button [routerLink]="['/teams']">Teams</button>
      </ng-container>
    <button mat-menu-item [routerLink]="['/app-about']">About</button>
    </mat-menu>
  </mat-toolbar>
  
