<mat-toolbar color="primary">
  <mat-toolbar color="primary">
    <span>FFB Draft</span>
    <span class="spacer"></span>
    <div class="hide-on-mobile">
      <button mat-button [routerLink]="['/app-home']">
        <mat-icon>home</mat-icon>
        Home
        </button>
      <button mat-button [routerLink]="['/teams']">Teams</button>
      <button mat-button [routerLink]="['/app-about']">About</button>
      <button mat-button [routerLink]="['/app-contact']">Contact</button>
    </div>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Home</button>
    <button mat-menu-item>About</button>
    <button mat-menu-item>Contact</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>