.header-class {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.edit-checkbox {
    margin-left: 20px;
}

@media (min-width: 601px) {
    .teams {
        width: 30%;
        margin: 0 auto;
    }
    
}

@media (max-width: 600px) {
    .teams {
        width: 300px;
        margin: 0 auto;
    }
    
}
