<h1 class="header-class">Teams</h1>

<div class="button-group">
    <button mat-raised-button color="primary" (click)="openTeamForm()">Add Team</button>
    <div *ngIf="isAdmin$ | async">
        <mat-checkbox color="primary" class="edit-checkbox"
            [(ngModel)] = "isEditing" 
            color="primary">Edit Teams
        </mat-checkbox>
    </div>
</div>

<div class="teams" *ngIf="teamData$ | async as teams">
    <app-team-card *ngFor="let item of teams" [team]="item" 
        [isEditing]="isEditing" (removeEvent)="removeTeam(item.id)">
    </app-team-card>
</div>
