<h1 class="header-class">Fantasy Football Draft List: 2024</h1>

<div class="filters">
    <mat-checkbox class="position-checkbox" #AllCheckbox 
        [(ngModel)] = "showAll" 
        (change)="positionFilterChanged($event, 'All')" 
        color="primary">All
    </mat-checkbox>
    <mat-checkbox class="position-checkbox" #QBCheckbox 
        [(ngModel)] = "showQB" 
        (change)="positionFilterChanged($event, 'QB')" 
        color="primary">QB
    </mat-checkbox>
    <mat-checkbox class="position-checkbox" #RBCheckbox 
        [(ngModel)] = "showRB" 
        (change)="positionFilterChanged($event, 'RB')" 
        color="primary">RB
    </mat-checkbox>
    <mat-checkbox class="position-checkbox" #WRCheckbox 
        [(ngModel)] = "showWR" 
        (change)="positionFilterChanged($event, 'WR')" 
        color="primary">WR
    </mat-checkbox>
    <mat-checkbox class="position-checkbox" #TECheckbox 
        [(ngModel)] = "showTE" 
        (change)="positionFilterChanged($event, 'TE')" 
        color="primary">TE
    </mat-checkbox>
    <mat-checkbox class="position-checkbox" #KCheckbox 
        [(ngModel)] = "showK" 
        (change)="positionFilterChanged($event, 'K')" 
        color="primary">K
    </mat-checkbox>
    <mat-checkbox class="position-checkbox" #DEFCheckbox 
        [(ngModel)] = "showDEF" 
        (change)="positionFilterChanged($event, 'DEF')" 
        color="primary">DEF
    </mat-checkbox>
</div>

<form [formGroup]="teamPickForm">
    <div class="radio-group">
        <mat-radio-group color="primary" formControlName="allTeams">
            <mat-radio-button class="radio-button" [value]="true"
            (change)="handleStandaloneChange($event)">All</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group color="primary" formControlName="teams">
            <mat-radio-button class="radio-button" *ngFor="let team of teamData$ | async"  
            color="primary" [value]="team.manager" (change)="handleTeamGroupChange($event)">
                {{team.manager}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</form>

<div class="loading-message" *ngIf="isLoading; else content">
    Loading...
</div>

<ng-template #content>    
    <div class="players" *ngIf="filteredPlayerData.length > 0; else noData">
        <cdk-virtual-scroll-viewport itemSize="50" class="scroll-container">
            <app-player-card *cdkVirtualFor="let item of filteredPlayerData" class="list-item"
            [player]="item">
            </app-player-card>
            </cdk-virtual-scroll-viewport>
    </div>
    <ng-template  #noData>
        <div >
            <span class="error-icon"><fa-icon class="error-icon" [icon]="faExclamationTriangle"></fa-icon></span>
            <span class="error-message">Error!</span>
            <span class="error-message">{{ errorMsg }}</span>
        </div>
    </ng-template>
</ng-template>
  