.header-class {
    text-align: center;
}

.control-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.refresh-button {
    margin-left: 20px;
}

.find-box {
    margin-left: 20px;
    margin-right: 5px;
}

.players {
    width: 40%;
    margin: 0 auto;
}

.filters {
    display: flex;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.filter-label {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size:x-large;
}

.position-checkbox {
    margin-right: 10px;
}

.loading-message {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 1.8rem;
}

.error-message {
    display: flex;
    justify-content: center;
    gap: 8px;
    color: #dc3545;
    padding: 1rem;
    font-size: 1.8rem;
}
  
.error-icon {
    display: flex;
    justify-content: center;
    color: #dc3545;
    font-size: 5rem;
}
  
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 20px;
}

.info-message {
    display: flex;
    justify-content: center;
    color: black;
    padding: 1rem;
    font-size: 1.8rem;
}
  
.info-icon {
    color: black;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
}
  
.radio-group {
    display: flex;
    justify-content: center;
}

.radio-button {
    margin-left: 10px;
}

.scroll-container {
    height: 600px;
    width: 100%;
  }
  
  .list-item {
    padding: 10px;
    height: 200px;
  }

  