<h1 class="header-class">Fantasy Football Draft List: 2024</h1>

<div class="control-container" *ngIf="isAuthenticated">
    <button class="refresh-button" mat-raised-button color="primary" (click)="refreshDisplay()">Refresh</button>
    <mat-label class="find-box" >Find a player: </mat-label>
    <form [formGroup]="searchForm" >
        <input class="find-input" formControlName="searchTerm" placeholder="Find..." >
    </form>    
</div>
  

<div class="filters" *ngIf="isAuthenticated">
    <mat-label class="filter-label">Positions: </mat-label>
    <mat-checkbox class="filter-position-checkbox" #AllCheckbox 
        [(ngModel)] = "showAll" 
        (change)="positionFilterChanged($event, 'All')" 
        color="primary">All
    </mat-checkbox>
    <mat-checkbox class="filter-position-checkbox" #QBCheckbox 
        [(ngModel)] = "showQB" 
        (change)="positionFilterChanged($event, 'QB')" 
        color="primary">QB
    </mat-checkbox>
    <mat-checkbox class="filter-position-checkbox" #RBCheckbox 
        [(ngModel)] = "showRB" 
        (change)="positionFilterChanged($event, 'RB')" 
        color="primary">RB
    </mat-checkbox>
    <mat-checkbox class="filter-position-checkbox" #WRCheckbox 
        [(ngModel)] = "showWR" 
        (change)="positionFilterChanged($event, 'WR')" 
        color="primary">WR
    </mat-checkbox>
    <mat-checkbox class="filter-position-checkbox" #TECheckbox 
        [(ngModel)] = "showTE" 
        (change)="positionFilterChanged($event, 'TE')" 
        color="primary">TE
    </mat-checkbox>
    <mat-checkbox class="filter-position-checkbox" #KCheckbox 
        [(ngModel)] = "showK" 
        (change)="positionFilterChanged($event, 'K')" 
        color="primary">K
    </mat-checkbox>
    <mat-checkbox class="filter-position-checkbox" #DEFCheckbox 
        [(ngModel)] = "showDEF" 
        (change)="positionFilterChanged($event, 'DEF')" 
        color="primary">DEF
    </mat-checkbox>
</div>

<div class="team-filter" *ngIf="isAuthenticated">
    <mat-label class="team-filter-label">Showing Team: {{ selectedTeamStr }}</mat-label>
    <button class="refresh-button" mat-raised-button color="primary" (click)="changeTeamFilter()">Change Team Filter</button>
</div>

<div class="loading-message" *ngIf="isLoading; else content">
    Loading...
</div>

<ng-template #content>    
    <div class="players" *ngIf="filteredPlayerData.length > 0; else noFilteredData">
        <cdk-virtual-scroll-viewport itemSize="200" class="scroll-container">
            <app-player-card *cdkVirtualFor="let item of filteredPlayerData" class="list-item"
            [player]="item">
            </app-player-card>
            </cdk-virtual-scroll-viewport>
    </div>
    <ng-template  #noFilteredData>
        <div *ngIf="!isAuthenticated; else CheckPlayers" class="info-container">
            <mat-icon class="info-icon">block</mat-icon>
            <span class="info-message">Please Log In!</span>
        </div>
        <ng-template #CheckPlayers>
            <div *ngIf="playerData.length > 0; else noData" class="info-container">
                <mat-icon class="info-icon">block</mat-icon>
                <span class="info-message">No players!</span>
            </div>
            <ng-template  #noData>
                <div >
                    <span class="error-icon"><fa-icon class="error-icon" [icon]="faExclamationTriangle"></fa-icon></span>
                    <span class="error-message">Error!</span>
                    <span class="error-message">{{ errorMsg }}</span>
                </div>
            </ng-template>   
        </ng-template>
    </ng-template>
</ng-template>
  